<!-- begin sidebar  -->
<amp-sidebar id="sidebar" layout="nodisplay" side="left" class="sidebar">
    <nav class="site__nav">
        <ul>
            <li class="site__nav-item">
                <a class="site__nav-link" href="https://sport.segodnya.ua/allnews.html">
                    Новости
                </a>
            </li>
            <li class="site__nav-item euro__mode">
                <a class="site__nav-link" href="https://sport.segodnya.ua/sport/euro_2020.html">
                    Евро 2020
                </a>
            </li>
            <li class="site__nav-item">
                <a class="site__nav-link" href="https://sport.segodnya.ua/sport/fan-zona.html">
                    Фан-зона
                </a>
            </li>
            <li class="site__nav-item">
                <a class="site__nav-link" href="https://sport.segodnya.ua/sport/tennis.html">
                    Теннис
                </a>
            </li>
            <li class="site__nav-item">
                <a class="site__nav-link" href="https://sport.segodnya.ua/sport/football.html">
                    Футбол
                </a>
            </li>
            <li class="site__nav-item">
                <a class="site__nav-link" href="https://sport.segodnya.ua/sport/boxing.html">
                    Бокс
                </a>
            </li>
            <li class="site__nav-item">
                <a class="site__nav-link" href="https://sport.segodnya.ua/sport/mma.html">
                    MMA
                </a>
            </li>
            <li class="site__nav-item">
                <a class="site__nav-link" href="https://game.segodnya.ua/game/poker.html">
                    Покер
                </a>
            </li>
            <li class="site__nav-item">
                <a class="site__nav-link" href="https://sport.segodnya.ua/sport/formula1.html">
                    Формула-1
                </a>
            </li>
            <li class="site__nav-item">
                <a class="site__nav-link" href="https://game.segodnya.ua/">
                    Игра
                </a>
            </li>
            <li class="site__nav-item">
                <a class="site__nav-link" href="https://sport.segodnya.ua/sport/basketball.html">
                    Баскетбол
                </a>
            </li>
        </ul>
        <div class="site__nav-item other__mode">
            Eще
        </div>
    </nav>
    <div class="site__header-btn">
        <a href="https://sport.segodnya.ua/ua/sport/others/testovaya-novost-chto-mozhet-byt-vnutri-1518316.html" class="site__header-lang"><span>Изменить язык на:</span> UA</a>
        <a class="site__header-home" href="https://www.segodnya.ua/">
            <span>Перейти к новостям</span>
            <amp-img
                    alt="logo"
                    src="https://cdn.segodnya.ua/images/sport/segodnya-logo-white-ru.svg"
                    width="104" height="14"
            >
            </amp-img>
        </a>
    </div>
</amp-sidebar>
<!-- end sidebar -->
